<p>
  <a target="{{ link.target|default('_blank') }}" class="{{ link.class }}" href="{{ link.href }}">{{ link.text }}</a>
</p>
<p>
  <a target="{{ link.target|default('_blank') }}" class="link--arrow link--text font--medium" href="{{ link.href }}">{{ link.text }}</a>
</p>
<p>
  <a target="{{ link.target|default('_blank') }}" class="link--arrow font--medium" href="{{ link.href }}">{{ link.text }}</a>
</p>
<p class="bg--black" style="padding: 20px">
  <a target="{{ link.target|default('_blank') }}" class="link--arrow link--white font--medium" href="{{ link.href }}">Learn more</a>
</p>