  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../../../vendor/slick/slick.min.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/scripts.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/components/block-banner.js?{{ cacheBuster }}"></script>
  <script src="../../../../js/components/block-slider.js?{{ cacheBuster }}"></script>
  </body>
</html>
