<div class="banner">
  <div class="banner-bg">
    {{ blockBanner.bgrImage }}
  </div>
  <div class="banner-content">
    <div class="container">
      <div class="banner-content__wrap">
        <div class="banner-content__left">
          <h1 class="banner-content__title">
            {{ blockBanner.title }}
          </h1>
          <div class="banner-content__description">
            {{ blockBanner.description }}
          </div>
          <div class="banner-content__form">
            {{ blockBanner.formNewsletter }}
          </div>
          <div class="banner-content__links">
            <span class="prefix text--uppercase">New</span>
            {{ blockBanner.link }}
          </div>
        </div>
        <div class="banner-content__slider">
          {{ blockBanner.sliders }}
        </div>
      </div>
    </div>
  </div>
</div>