<footer class="footer link-wrap">
  <div class="container container--large">
    <div class="footer-top clearfix">
      <div class="footer-top__col first">
        {{ footerTop.one }}
      </div>
      <div class="footer-top__col hidden-mobile hidden-tablet">
        {{ footerTop.two }}
      </div>
      <div class="footer-top__col hidden-mobile hidden-tablet">
        {{ footerTop.three }}
      </div>
      <div class="footer-top__col hidden-mobile hidden-tablet">
        {{ footerTop.four }}
      </div>
      <div class="footer-top__col hidden-mobile hidden-tablet">
        {{ footerTop.five }}
      </div>
      <div class="footer-top__col hidden-mobile hidden-tablet">
        {{ footerTop.six }}
      </div>
    </div>
    <div class="footer-bottom font--small">
      <div class="footer-bottom__legal">
        {{ footerBottom.left }}
      </div>
      <div class="footer-bottom__copyright">
        {{ footerBottom.right }}
      </div>
    </div>
  </div>
</footer>